
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
# Debug local files
*.txt
*.json

# Logs
*.log

# Temporary debug dumps
debug_*
login_*
me_*
curl_*
body.json
###< symfony/framework-bundle ###
